# Application Port - express server listens on this port (default 3000).
PORT=3000

# Database login and password
DB_LOGIN=rasif
DB_PASSWORD=rasif

# For bcrypt
CRYPT_SALT=10

# Secrets
ACCESS_TOKEN_SECRET=access_secret
REFRESH_TOKEN_SECRET=refresh_secret 